{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="container">
        <div class="row ">
        
            <div class="container m-5">
            <h1 class="d-flex justify-content-center m-2">Contacts info...</h1>
            <table class="d-flex justify-content-center">
            <div class="m-4">
                <tr class="m-4">
                    <td>Adress:</td>
                    <td>hlavná 8, Košice</td>

            </div> 
            <div class="m-4">
                </tr>
            
                <tr >
                    <td>Email:</td>
                    <td>....@gmail.com</td>
  
                </tr>
            </div> 
            <div class="m-4">
                <tr >
                    <td>Phone:</td>
                    <td>+09.......</td>

                </tr>
            </div> 
                </table>

        </div>   
        <div class="row"> 
            <div class="container m-5">
                <h1 class="d-flex justify-content-center m-2">Our location</h1>
                <div class="d-flex justify-content-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2632.3221003171725!2d21.256282976875834!3d48.71843671054477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ee0701a70ab2d%3A0x56b975be2d5d59e!2zSGxhdm7DoSA4LzEwLCAwNDAgMDEgS2_FoWljZQ!5e0!3m2!1ssk!2ssk!4v1710566877791!5m2!1ssk!2ssk" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
